<aside class="sidebar sidebar-offcanvas vh-100" id="sidebar">
  <ul class="nav">
    <li class="nav-item"
        routerLinkActive="active">
      <a
        class="nav-link"
        routerLink="/dashboard"
      >
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item nav-category">Quản lý sản phẩm</li>
    <li class="nav-item"
        routerLinkActive="active">
      <a
        class="nav-link"
        routerLink="/category"
      >
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        <span class="menu-title">Danh mục</span>
      </a>
    </li>
    <li class="nav-item"
        routerLinkActive="active">
      <a
        class="nav-link"
        routerLink="/product-group"
      >
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        <span class="menu-title">Nhóm sản phẩm</span>
      </a>
    </li>
  </ul>
</aside>
